{% extends 'base.html.twig' %}

{% block title %}Estudiante{% endblock %}

{% block body %}
    <h1>Estudiante {{notum.estudiante}}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ notum.id }}</td>
            </tr>
        
            <tr>
                <th>Curso</th>
                <td>{{notum.curso.nombre}}: {{ notum.curso.duracion }}</td>
            </tr>
            
            <tr>
                <th>Nota</th>
                <td>{{ notum.nota }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('nota_index') }}">back to list</a>

    <a href="{{ path('nota_edit', {'id': notum.id}) }}">edit</a>

    {{ include('nota/_delete_form.html.twig') }}

    
{% endblock %}
